body{
    margin: 0 auto;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 221, 214);
}

.container{
    width: 360px;
  
    
}
#inputField{
   
    width: 300px;
    height: 46px;
    border: 1px solid black;
    font-size: 25px;
    outline: none;
    vertical-align: middle;
    
}
#btn{
    
    background-color: rgb(220, 123, 32);
    height: 50px;
    width: 50px;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 18px;
}
.to-dos{
    margin-top: 25px;
}
.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 25px;
}